<!DOCTYPE html>
<html>
  <head>
    <title>BusApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p><%= link_to "buses", buses_path %> <%= link_to "people", people_path %> <%= link_to "routes", routes_path%></p>


    <%= yield %>
  </body>
</html>
